# ==========================
# Environment & Secrets
# ==========================
.env
*.env.local
*.env.*.local

# ==========================
# Server
# ==========================
server/node_modules/
server/spellchess.db

# ==========================
# Client
# ==========================
client/node_modules/
client/dist/

# ==========================
# Misc
# ==========================
.DS_Store
Thumbs.db
*.log